@model List<WebASP.Context.Category>
@{
    ViewBag.Title = "AllCategory";
}

<section class="section-content padding-y">
    <div class="container">
        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="card card-category">
                        <div class="img-wrap" style="background: #fff; width: 100%; height: 200px; overflow: hidden;">
                            <img src="~/Content/images/category/@item.image" style="width: 100%; height: 150%; object-fit: cover;">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title"><a href="#">@item.name</a></h4>

                        </div>
                    </div>
                </div>
            }
        </nav> <!-- row.// -->
    </div> <!-- container .//  -->
</section>